:host {
  display: block;
  width: 100%;
  height: 100%;
  .wrapper-input {
    margin-top: 20px;
    mat-form-field {
      width: 100%;
    }
  }
  mat-card {
    margin: 10px 0;
    height: calc(100% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    mat-card-actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      button {
        color: rgb(30, 117, 189);
      }
      span {
        color: rgb(22, 21, 21);
        font-weight: 700;
      }
    }
  }
  pagination-controls::ng-deep {
    margin: 20px auto;
    .ngx-pagination {
      padding: 0;
      text-align: center;
    }
  }
}
