<div class="container">
  <div class="row">
      <div class="col-12">
        <div class="wrapper-input">
            <mat-form-field appearance="outline">
                <mat-label>¿Que super heroe buscas?</mat-label>
                <input  type="text" [(ngModel)]="term" matInput placeholder="ej: Black Flash">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
        </div>
      </div>
  </div>
  <div *ngIf="heroes.length" class="row">
    <div class="col-sm-6 col-md-4"
      *ngFor="let i = index, let heroe of heroes |filter:term | paginate: { itemsPerPage: 9, currentPage: p  }">
      <mat-card class="animated fadeIn fast">
        <mat-card-header>
          <mat-card-title>{{heroe.name}}</mat-card-title>
          <mat-card-subtitle>{{heroe.publisher}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="heroe.picture">
        <mat-card-content>
          <p>
            {{heroe.info}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="actions">
            <button mat-button (click)="likeAndDontLike(heroe, 'like')">
              {{ heroesLocalStorage[heroe.id] ? heroesLocalStorage[heroe.id].like : '' }}
              <mat-icon>thumb_up_alt</mat-icon>
            </button>
            <button mat-button (click)="likeAndDontLike(heroe, 'dontLike')">
              {{ heroesLocalStorage[heroe.id] ? heroesLocalStorage[heroe.id].dontLike : '' }}
              <mat-icon>thumb_down_alt</mat-icon>
            </button>
          </div>
          <button (click)="seeMore(heroe, i)" mat-button color="primary">Ver mas..</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  <div *ngIf="!heroes.length" class="wrapper-spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>