:host {
  display: block;
  width: 100%;
  height: 100%;
  header {
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      height: 54px;
      width: 185px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
