<div class="container">
    <div  *ngIf="heroe" class="card animated fadeIn fast">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="wrapper-img">
                    <img [src]="heroe['picture']" alt="">
                </div>
            </div>
            <div class=" col-sm-12 col-md-8  ">
                <div class="wrapper-data">
                    <span>{{heroe['name']}}</span>
                    <span>{{heroe['publisher']}}</span>
                    <span>{{heroe['info']}}</span>
                </div>
                <div class="actions">
                <button  mat-button (click)="backToPage()">
                    <mat-icon>arrow_back_ios</mat-icon>
                    volver
                </button>
                    <button mat-button>
                        12
                        <mat-icon>thumb_up_alt</mat-icon>
                      </button>
                      <button mat-button>
                          3
                          <mat-icon>thumb_down_alt</mat-icon>
                      </button>
                </div>

            </div>
        </div>
    </div>
    <div *ngIf="!heroe" class="wrapper-spinner">
        <mat-spinner ></mat-spinner>
    </div>
</div>
